<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div id="criterioBusquedaAdministrativaExamenMedico" class="row" th:fragment="criterioBusquedaAdministrativaExamenMedico"
		th:with="tipo=${tipo}">
		<fieldset class="well">
			<legend class="well-legend">Búsqueda</legend>
			<form id="formCriterioBusquedaAdministrativaExamenMedico" class="form-horizontal" role="form">
				<th:block th:replace="~{template/fragments/consulta/criterioBusquedaAdministrativaExamenMedico :: ${tipo}}?:~{}">
				</th:block>
				<div class="form-group">
					<div class="col-lg-12 text-center">
						<button id="buscar" type="button" class="btn btn-primary">
							<i class="fa fa-search"></i> Buscar
						</button>
					</div>
				</div>
			</form>
		</fieldset>
	</div>

	<th:block th:fragment="laboratorio">
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1" title="Número de Registro">Núm. de Registro</label>
				<div class="col-lg-3">
					<input id="numeroRegistro" type="text" class="numbersOnly form-control filtro" name="numeroRegistro" autofocus="autofocus" />
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label">Año</label>
				<div class="col-lg-3">
					<select id="anios" class="form-control select2 filtro" name="anio">
						<option th:each="anio,iter : ${anios}" th:value="${anio}" th:text="${anio}" th:selected="${iter.index == 0}"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label" title="Estado Examen Médico">Estado Ex. Médico</label>
				<div class="col-lg-3">
					<select id="estadosExamenMedico" class="form-control select2 filtro" name="idEstadoExamenMedico">
						<option value="" selected="selected">TODOS</option>
						<option th:each="estadoExamenMedico : ${estadosExamenMedico}" th:if="${estadoExamenMedico.idItem != 'T'}"
							th:value="${estadoExamenMedico.idItem}" th:text="|${estadoExamenMedico.idItem} - ${estadoExamenMedico.descripcionItem}|"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1" title="Código de Alumno">Código</label>
				<div class="col-lg-3">
					<input type="text" class="form-control filtro" name="codigoAlumno" maxlength="12" />
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label" title="Tipo de Alumno">Tipo Alumno</label>
				<div class="col-lg-3">
					<select id="tiposAlumno" class="form-control select2 filtro" name="tipoAlumno">
						<option value="" selected="selected">TODOS</option>
						<option th:each="tipoAlumno : ${tiposAlumno}" th:value="${tipoAlumno.idItem}"
							th:text="|${tipoAlumno.idItem} - ${tipoAlumno.descripcionItem}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label">Campaña</label>
				<div class="col-lg-3">
					<select id="campanias" class="form-control select2 filtro" name="idCampania">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="campania : ${campanias}" th:value="${campania.idCampania}"
							th:text="|${campania.idCampania} - ${campania.descripcion}|"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="col-lg-1 control-label">Facultad</label>
				<div class="col-lg-3">
					<select id="facultades" class="form-control select2 filtro" name="codigoFacultad">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="facultad : ${facultades}" th:value="${facultad.codigoFacultad}"
							th:text="|${facultad.codigoFacultad} - ${facultad.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label">Escuela</label>
				<div class="col-lg-3">
					<select id="escuelas" class="form-control select2 filtro" name="codigoEscuela">
						<option value="-1" selected="selected">TODOS</option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label" title="Fecha de Generación de Número de Registro">Fecha Num. Reg.</label>
				<div class="col-lg-3">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input id="rangoFechaBusqueda" type="text" class="form-control filtro" readonly="readonly" />
					</div>
				</div>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="radiologico">
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1" title="Número de Registro">Núm. de Registro</label>
				<div class="col-lg-3">
					<input id="numeroRegistro" type="text" class="numbersOnly form-control filtro" name="numeroRegistro" autofocus="autofocus" />
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label">Año</label>
				<div class="col-lg-3">
					<select id="anios" class="form-control select2 filtro" name="anio">
						<option th:each="anio,iter : ${anios}" th:value="${anio}" th:text="${anio}" th:selected="${iter.index == 0}"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label" title="Estado Examen Médico">Estado Ex. Médico</label>
				<div class="col-lg-3">
					<select id="estadosExamenMedico" class="form-control select2 filtro" name="idEstadoExamenMedico">
						<option value="" selected="selected">TODOS</option>
						<option th:each="estadoExamenMedico : ${estadosExamenMedico}" th:value="${estadoExamenMedico.idItem}"
							th:text="|${estadoExamenMedico.idItem} - ${estadoExamenMedico.descripcionItem}|"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1" title="Código de Alumno">Código</label>
				<div class="col-lg-3">
					<input type="text" class="form-control filtro" name="codigoAlumno" maxlength="12" />
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label" title="Tipo de Alumno">Tipo Alumno</label>
				<div class="col-lg-3">
					<select id="tiposAlumno" class="form-control select2 filtro" name="tipoAlumno">
						<option value="" selected="selected">TODOS</option>
						<option th:each="tipoAlumno : ${tiposAlumno}" th:value="${tipoAlumno.idItem}"
							th:text="|${tipoAlumno.idItem} - ${tipoAlumno.descripcionItem}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label">Campaña</label>
				<div class="col-lg-3">
					<select id="campanias" class="form-control select2 filtro" name="idCampania">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="campania : ${campanias}" th:value="${campania.idCampania}"
							th:text="|${campania.idCampania} - ${campania.descripcion}|"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="col-lg-1 control-label">Facultad</label>
				<div class="col-lg-3">
					<select id="facultades" class="form-control select2 filtro" name="codigoFacultad">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="facultad : ${facultades}" th:value="${facultad.codigoFacultad}"
							th:text="|${facultad.codigoFacultad} - ${facultad.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label">Escuela</label>
				<div class="col-lg-3">
					<select id="escuelas" class="form-control select2 filtro" name="codigoEscuela">
						<option value="-1" selected="selected">TODOS</option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label" title="Fecha de Generación de Número de Registro" data-tooltip="tooltip">Fecha
					Num. Reg.</label>
				<div class="col-lg-3">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input id="rangoFechaBusqueda" type="text" class="form-control filtro" readonly="readonly" />
					</div>
				</div>
			</div>
		</div>
	</th:block>

	<th:block th:fragment="psicologia">
		<div class="form-group">
			<div class="group">
				<label class="control-label col-lg-1" title="Código de Alumno">Código</label>
				<div class="col-lg-3">
					<input type="text" class="form-control filtro" name="codigoAlumno" maxlength="12" />
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label" title="Tipo de Alumno">Tipo Alumno</label>
				<div class="col-lg-3">
					<select id="tiposAlumno" class="form-control select2 filtro" name="tipoAlumno">
						<option value="" selected="selected">TODOS</option>
						<option th:each="tipoAlumno : ${tiposAlumno}" th:value="${tipoAlumno.idItem}"
							th:text="|${tipoAlumno.idItem} - ${tipoAlumno.descripcionItem}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label">Campaña</label>
				<div class="col-lg-3">
					<select id="campanias" class="form-control select2 filtro" name="idCampania">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="campania : ${campanias}" th:value="${campania.idCampania}"
							th:text="|${campania.idCampania} - ${campania.descripcion}|"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="group">
				<label class="col-lg-1 control-label">Facultad</label>
				<div class="col-lg-3">
					<select id="facultades" class="form-control select2 filtro" name="codigoFacultad">
						<option value="-1" selected="selected">TODOS</option>
						<option th:each="facultad : ${facultades}" th:value="${facultad.codigoFacultad}"
							th:text="|${facultad.codigoFacultad} - ${facultad.descripcion}|"></option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label">Escuela</label>
				<div class="col-lg-3">
					<select id="escuelas" class="form-control select2 filtro" name="codigoEscuela">
						<option value="-1" selected="selected">TODOS</option>
					</select>
				</div>
			</div>
			<div class="group">
				<label class="col-lg-1 control-label" title="Fecha de Registro">Fecha Reg.</label>
				<div class="col-lg-3">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input id="rangoFechaBusqueda" type="text" class="form-control filtro" readonly="readonly" />
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>