<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="cu.certificados.cerme.mapper.IConsultaExamenMedicoRadiologicoMapper">
	
	<select id="buscarPorCriterioBusquedaAdministrativa" resultType="ConsultaRadiologicoAdministrativo">
		SELECT 	* 
		FROM 	consultaradiologicoadministrativa consultaRadiologico
		<where>
			<if test="numeroRegistro != null and numeroRegistro > 0">
				consultaRadiologico.numeroRegistro = #{numeroRegistro}
			</if>
			<if test="anio != null and anio != ''">
				AND consultaRadiologico.anio = #{anio}
			</if>
			<if test="codigoAlumno != null and codigoAlumno != ''">
				AND consultaRadiologico.codigoAlumno = #{codigoAlumno}
			</if>
			<if test="tipoAlumno != null and tipoAlumno != ''">
				AND consultaRadiologico.tipoAlumno = #{tipoAlumno}
			</if>
			<if test="idEstadoExamenMedico != null and idEstadoExamenMedico != ''">
				AND consultaRadiologico.idEstadoExamenMedico = #{idEstadoExamenMedico}
			</if>
			<if test="idCampania != null and idCampania > -1">
				AND consultaRadiologico.idCampania = #{idCampania}
			</if>
			<if test="codigoFacultad != null and codigoFacultad > -1">
				AND consultaRadiologico.codigoFacultad = #{codigoFacultad}
			</if>
			<if test="codigoEscuela != null and codigoEscuela > -1">
				AND consultaRadiologico.codigoEscuela = #{codigoEscuela}
			</if>
			<if test="fechaInicio != null and fechaFin != null">
				AND consultaRadiologico.soloFechaGeneracionNumeroRegistro BETWEEN #{fechaInicio} AND #{fechaFin}
			</if>
		</where>
		ORDER BY numeroRegistro DESC
	</select>
	
</mapper>