<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layout">
<head>
<title>Reporte de Atenciones Diario</title>
</head>
<th:block layout:fragment="style">
	<link th:href="@{/resources/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/responsive.bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/popupwindow.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/jquery-confirm.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/select2.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/select2-bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resources/css/daterangepicker.css}" rel="stylesheet" />
</th:block>
<body>
	<th:block layout:fragment="content">
		<div class="page-content-wrap">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Reporte de Atenciones Diario</h3>
						</div>
						<div class="panel-body">
							<fieldset class="well">
								<legend class="well-legend">Búsqueda</legend>
								<form id="formReporteAtencionDiaria" class="form-horizontal" role="form">
									<div class="form-group">
										<div class="group">
											<label class="control-label col-lg-1">Examen Médico</label>
											<div class="col-lg-3">
												<select id="tiposExamenMedico" class="form-control select2" name="idTipoExamenMedico">
													<option th:each="tipoExamenMedico,iter : ${tiposExamenMedico}" th:selected="${iter.index == 0}"
														th:value="${tipoExamenMedico.idItem}" th:text="|${tipoExamenMedico.idItem} - ${tipoExamenMedico.descripcionItem}|"></option>
												</select>
											</div>
										</div>
										<div class="group">
											<label class="control-label col-lg-1">Campaña</label>
											<div class="col-lg-3">
												<select id="campanias" class="form-control select2" name="idCampania">
													<option th:each="campania : ${campanias}" th:selected="${campania.activo}" th:value="${campania.idCampania}"
														th:text="|${campania.idCampania} - ${campania.descripcionCorta}|"></option>
												</select>
											</div>
										</div>
										<div class="group">
											<label class="control-label col-lg-1">Fecha Num. Reg.</label>
											<div class="col-lg-3">
												<div class="input-group">
													<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
													<input id="rangoFechaBusqueda" type="text" class="form-control filtro" readonly="readonly" />
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-12 text-center">
											<button id="buscar" type="button" class="btn btn-primary">
												<i class="fa fa-search"></i> Buscar
											</button>
											<button id="exportar" type="button" class="btn btn-success" title="Exportar en .XLSX" data-tooltip="tooltip">
												<i class="fa fa-download"></i> Exportar
											</button>
										</div>
									</div>
								</form>
							</fieldset>
							<div id="resultadoReporteAtencionesDiaria" class="col-xs-12 tabs">
								<ul class="nav nav-tabs">
									<li class="active"><a data-toggle="tab" href="#detalle">Detalle</a></li>
									<li><a data-toggle="tab" href="#general">General</a></li>
								</ul>
								<div class="tab-content">
									<div id="detalle" class="tab-pane fade in active">
										<table id="tablaReporteAtencionesDiariaDetalle" class="table table-bordered table-condensed nowrap display table-hover">
										</table>
									</div>
									<div id="general" class="tab-pane fade in">
										<table id="tablaReporteAtencionesDiariaGeneral" class="table table-bordered table-condensed nowrap display table-hover">
											<tfoot>
												<tr>
													<td colspan="2">Total</td>
													<td></td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>

	<th:block layout:fragment="script">
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.responsive.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.show.rows.js}"></script>
		<script th:src="@{/resources/js/bootstrap/bootstrap-notify.min.js}"></script>
		<script th:src="@{/resources/js/jquery/popupwindow.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.serializejson.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.validate.min.js}"></script>
		<script th:src="@{/resources/js/jquery/additional-methods.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery-confirm.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.animate.min.js}"></script>
		<script th:src="@{/resources/js/jquery/select2.full.min.js}"></script>
		<script th:src="@{/resources/js/jquery/moment.min.js}"></script>
		<script th:src="@{/resources/js/jquery/daterangepicker.js}"></script>
		<script th:src="@{/resources/js/util/formularioUtil.js}"></script>
		<script th:src="@{/resources/js/pagina/reporte/atencionDiaria/atencionDiaria.js}"></script>
		<script th:src="@{/resources/js/pagina/reporte/atencionDiaria/atencionDiariaFormulario.js}"></script>
	</th:block>
</body>
</html>