<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
	<div class="page-sidebar">
		<ul class="x-navigation">
			<li id="tituloClinica" class="xn-logo"><a>Clínica Universitaria</a> <a href="#" class="x-navigation-control"></a></li>
			<li id="imagen" class="xn-profile"><a class="profile-mini">
					<img th:src="@{/resources/image/icono_logo.ico}">
				</a>
				<div class="profile">
					<img th:src="@{/resources/image/logo_barra_lateral.png}" width="100%" />
				</div></li>
			<li class="xn-title">Navegación</li>
			<th:block sec:authorize="isAuthenticated()">
				<li><a th:href="@{/inicio}">
						<span class="fa fa-home"></span>Inicio
					</a></li>
				<li sec:authorize="hasPermission('1','ALL')" class="xn-openable"><a>
						<span class="fa fa-upload"></span><span class="xn-text">Cargas</span>
					</a>
					<ul>
						<li><a th:href="@{/carga/alumno}">
								<span class="fa fa-user"></span><span class="xn-text">Carga de Alumnos</span>
							</a></li>
					</ul></li>

				<li
					sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL') or hasPermission('3','ALL') or hasPermission('4','ALL')"
					class="xn-openable"><a>
						<span class="fa fa-bell"></span><span class="xn-text">Atenciones</span>
					</a>
					<ul>
						<li sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL')"><a th:href="@{/consulta/atencion/laboratorio}">
								<span class="fa fa-bell"></span><span>Atenciones de Laboratorio</span>
							</a></li>
						<li sec:authorize="hasPermission('1','ALL') or hasPermission('3','ALL')"><a th:href="@{/consulta/atencion/radiologia}">
								<span class="fa fa-bell"></span><span>Atenciones de Radiología</span>
							</a></li>
					</ul></li>
				<li sec:authorize="hasPermission('1','ALL')" class="xn-openable"><a>
						<span class="fa fa-wrench"></span><span class="xn-text">Mantenimientos</span>
					</a>
					<ul>
						<li><a th:href="@{/mantenimiento/alumno}">
								<span class="fa fa-wrench"></span>Alumno
							</a></li>
						<li><a th:href="@{/mantenimiento/campania}">
								<span class="fa fa-wrench"></span>Campaña
							</a></li>
						<li><a th:href="@{/mantenimiento/facultad}">
								<span class="fa fa-wrench"></span>Facultad
							</a></li>
						<li><a th:href="@{/mantenimiento/escuela}">
								<span class="fa fa-wrench"></span>Escuela
							</a></li>
						<li><a th:href="@{/mantenimiento/especialidad}">
								<span class="fa fa-wrench"></span>Especialidad
							</a></li>
						<li><a th:href="@{/mantenimiento/persona}">
								<span class="fa fa-wrench"></span>Persona
							</a></li>
						<li><a th:href="@{/mantenimiento/medico}">
								<span class="fa fa-wrench"></span>Personal Médico
							</a></li>
						<li><a th:href="@{/mantenimiento/multitabcab}">
								<span class="fa fa-wrench"></span>Tabla de Tablas
							</a></li>
						<li><a th:href="@{/mantenimiento/parametroGeneral}">
								<span class="fa fa-wrench"></span>Paramétro General
							</a></li>
					</ul></li>
				<li class="hidden"><a th:href="@{/digitador/examenMedico}">
						<span class="fa fa-hand-paper-o"></span><span>Digitador</span>
					</a></li>
				<li sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL')" class="xn-openable"><a>
						<span class="fa fa-clipboard"></span><span class="xn-text">Resultados de Laboratorio</span>
					</a>
					<ul>
						<li><a th:href="@{/examenmedico/laboratorio/resultado}">
								<span class="fa fa-floppy-o"></span><span>Registro</span>
							</a></li>
					</ul></li>

				<li sec:authorize="hasPermission('1','ALL') or hasPermission('2','ALL')" class="xn-openable"><a>
						<span class="fa fa-clipboard"></span><span class="xn-text">Consultas de Laboratorio</span>
					</a>
					<ul>
						<li><a th:href="@{/consulta/administrativa/laboratorio}">
								<span class="fa fa-search"></span><span>Administrativa</span>
							</a></li>
					</ul></li>

				<li sec:authorize="hasPermission('1','ALL') or hasPermission('3','ALL')" class="xn-openable"><a>
						<span class="fa fa-clipboard"></span> <span class="xn-text">Resultados de Radiología</span>
					</a>
					<ul>
						<li><a th:href="@{/examenmedico/radiologico/tomaRadiologica}">
								<span class="fa fa-video-camera"></span><span>Toma Radiológica</span>
							</a></li>
						<li><a th:href="@{/examenmedico/radiologico/resultado}">
								<span class="fa fa-floppy-o"></span><span>Registro</span>
							</a></li>
					</ul></li>

				<li sec:authorize="hasPermission('1','ALL') or hasPermission('3','ALL')" class="xn-openable"><a>
						<span class="fa fa-clipboard"></span> <span class="xn-text">Consultas de Radiologia</span>
					</a>
					<ul>
						<li><a th:href="@{/consulta/administrativa/radiologico}">
								<span class="fa fa-search"></span><span>Administrativa</span>
							</a></li>
					</ul></li>

				<!-- registro de triaje -->
				<li sec:authorize="hasPermission('1','ALL') or hasPermission('6','ALL')" class="xn-openable"><a>
						<span class="fa fa-clipboard"></span> <span class="xn-text">Resultados de Triaje</span>
					</a>
					<ul>
						<li><a th:href="@{/consulta/atencion/triaje}">
								<span class="fa fa-floppy-o"></span><span>Registro</span>
							</a></li>
					</ul></li>

				<!-- registro de odontologia -->
				<li sec:authorize="hasPermission('1','ALL') or hasPermission('5','ALL')" class="xn-openable"><a>
						<span class="fa fa-clipboard"></span> <span class="xn-text">Resultados de Odontologia</span>
					</a>
					<ul>
						<li><a th:href="@{/consulta/atencion/odontologia}">
								<span class="fa fa-floppy-o"></span><span>Registro</span>
							</a></li>
					</ul></li>

				<li sec:authorize="hasPermission('1','ALL') or hasPermission('4','ALL')" class="xn-openable"><a>
						<span class="fa fa-clipboard"></span> <span class="xn-text">Resultados de Psicología</span>
					</a>
					<ul>
						<li><a th:href="@{/consulta/atencion/psicologia}">
								<span class="fa fa-floppy-o"></span><span>Registro</span>
							</a></li>
					</ul></li>

				<li sec:authorize="hasPermission('1','ALL') or hasPermission('4','ALL')" class="xn-openable"><a>
						<span class="fa fa-clipboard"></span> <span class="xn-text">Consultas de Psicología</span>
					</a>
					<ul>
						<li><a th:href="@{/consulta/administrativa/psicologia}">
								<span class="fa fa-search"></span><span>Administrativa</span>
							</a></li>
					</ul></li>
				
				<li sec:authorize="hasPermission('1','ALL') or hasPermission('7','ALL')" class="xn-openable"><a>
						<span class="fa fa-clipboard"></span> <span class="xn-text">Resultados de Medicina General</span>
					</a>
					<ul>
						<li><a th:href="@{/consulta/atencion/medicinaGeneral}">
								<span class="fa fa-floppy-o"></span><span>Registro</span>
							</a></li>
					</ul></li>

				<li sec:authorize="hasPermission('1','ALL')" class="xn-openable"><a>
						<span class="fa fa-wrench"></span> <span class="xn-text">Proceso Automático</span>
					</a>
					<ul>
						<li><a th:href="@{/mantenimiento/procesoAutomatico}">
								<span class="fa fa-wrench"></span>Procesos
							</a></li>
					</ul></li>

				<li sec:authorize="hasPermission('1','ALL')" class="xn-openable"><a>
						<span class="fa fa-file"></span> <span class="xn-text">Reportes</span>
					</a>
					<ul>
						<li><a th:href="@{/reporte/atencion/diaria}">
								<span class="fa fa-file"></span><span>Atenciones Diarias</span>
							</a></li>
						<li class="xn-openable"><a>
								<span class="fa fa-bell"></span> <span class="xn-text">Examen Médico</span>
							</a>
							<ul>
								<li><a th:href="@{/reporte/detalle/resultado/examenMedico/regular}">
										<span class="fa fa-file"></span><span>Regulares</span>
									</a></li>
							</ul></li>
					</ul></li>

				<li sec:authorize="hasPermission('1','ALL')" class="xn-openable"><a>
						<span class="fa fa-unlock-alt"></span> <span class="xn-text">Seguridad</span>
					</a>
					<ul>
						<li><a th:href="@{/seguridad/usuario}">
								<span class="fa fa-users"></span><span>Usuarios</span>
							</a></li>
					</ul></li>
			</th:block>
		</ul>
	</div>
</body>
</html>