<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="layout">
<head>
<title>Inicio</title>
</head>
<th:block layout:fragment="style">
</th:block>
<body>
	<th:block layout:fragment="content">
		<div class="page-content-wrap">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12"></div>
				<p th:text="${nDias}" id="message"></p>
				<p th:text="${maximoDias}" id="maximo"></p>
			</div>
			<div class="modal fade" id="myModal" tabindex="-1" data-backdrop="static" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Cambio de Contraseña</h5>
						</div>
						<div class="modal-body">
							<form id="formContrasenia" class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-5 control-label"> Contraseña Actual</label>
									<div class="col-sm-6">
										<input type="password" class="form-control" name="password"></input>
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-5 control-label"> Nueva Contraseña</label>
									<div class="col-sm-6">
										<input type="password" class="form-control" id="nuevoPassword" name="nuevoPassword"></input>
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail3" class="col-sm-5 control-label"> Confirmar Contraseña</label>
									<div class="col-sm-6">
										<input type="password" class="form-control" id="nuevo_password_2" name="nuevoPassword2"></input>
									</div>
								</div>
								<div class="form-group" id="idUsuario">
									<div class="col-sm-4">
										<input type="text" class="form-control" th:value="${usuario}" name="idUsuario"></input>
									</div>
								</div>
								<br></br>
								<div class="form-group">
									<div class="col-lg-12 text-center">
										<button id="actualizarContrasenia" type="button" class="btn btn-success">
											<i class="fa fa-refresh"></i> Actualizar
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{/resources/js/bootstrap/bootstrap-notify.min.js}"></script>
		<script th:src="@{/resources/js/pagina/inicioModal/inicioModal.js}"></script>
		<script th:src="@{/resources/js/datatables/jquery.dataTables.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.bootstrap.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.responsive.min.js}"></script>
		<script th:src="@{/resources/js/datatables/dataTables.show.rows.js}"></script>
		<script th:src="@{/resources/js/bootstrap/bootstrap-notify.min.js}"></script>
		<script th:src="@{/resources/js/jquery/popupwindow.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.serializejson.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.validate.min.js}"></script>
		<script th:src="@{/resources/js/jquery/additional-methods.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery-confirm.min.js}"></script>
		<script th:src="@{/resources/js/jquery/jquery.animate.min.js}"></script>
		<script th:src="@{/resources/js/jquery/select2.full.min.js}"></script>
		<script th:src="@{/resources/js/util/formularioUtil.js}"></script>
	</th:block>
</body>
</html>